branches:
  only:
  - master
  - develop
language: python
python:
- '3.8'
- '3.9'
install:
- pip install .
script:
- python3 -m unittest discover
notifications:
  email:
    on_success: change
    on_failure: always
  slack:
    on_success: change
    on_failure: always
    rooms:
      secure: JDVvFEEOebhG7trA+JcdG5tz1Dp3u8uORPb9vJggjC7h+8mD2APGEnsl6JXgDJllic+YWtv21jsBmpVvFZXByRDiNGNJm7swg1LAGoNOum7qac9E2ce4Floo2txnDIh/iznnWKacfC5vOgp2uHsCR9h1Qe6M4hRf4J+cU3AuWJHY1RFaGnDP5EbJAf2D6TjQlw2EjXD5dexUm5yfnIhE6W75xDgsdSXukWVUhPGFaEGKE3MPkkdrbbyjYapdNxYU8ghyjR5kmFMbW+HHy8o4oNv82evmXtPzl2avup+LWyJTRnnBcGKAtbm/QC+PWQDs4yltcP/rCnWpzeEz3QtsTPvEaPoAKthSAW9fQ9tvi+7yRZILpiuCC0Kk/Q0kfnmWzN7g/9MpnKPANikAnAEynbHAYmvyac8ocamQh+nIB7rbeN1t4NC5EXhmZAxE4mvL3W41BqP7nCdj37sfHuNZW6PyHSZJ/OuryNgnzW4OBZNxY8cqhS1Py2GbDapOTwc7Xo2Pv/PASWsl9ZEBcV5vIEYnkO/K19H6JQeDN21T5oYCtV8TpuJFfmpYTJpq9Jpijy5Uf3MKJN72pmRCddynmSsX8nqf3gmme3xwuLEnGWRfnaXEwg8x/TdoNPvsP2J1IX5u26meBQTmGW37QkiShQQb8YHbVoDjdH+qBDUWpFU=
